*.1.gz
*.o
*.core
simplestroke
Makefile.in
/config.guess
/config.status
/config.sub
/libtool
/ltmain.sh
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.log
/m4
.deps
.libs
.dirstamp
*.lo
*.la
